[2016-06-20 10:12] pableu opened #1 "Doesn't work with PHP 5.3"
The composer.json says this package requires PHP >= 5.3.2, but it can't work at all with PHP 5.3.

In `lib/Fhp/Segment/AbstractSegment.php`, you use the short array syntax which was only introduced in PHP 5.4.

If this is the only PHP 5.3 compatibility issue, I'd recommend not using the short array syntax. If there are other issues, it's probably easier to just incrase the minimum required version

[2016-06-20 11:23] #1 closed

[2016-06-20 11:26] mschindler83 commented on #1
Hi @pableu,
Thanks for pointing that out.
I've replaced the short array syntax with the valid BC one.
Please let me know if it works now.
Thanks!

[2016-06-20 11:28] pableu commented on #1
Sweet, I was just about to make a pull request. Yeah, it work perfectly now, thanks!

[2016-06-20 11:31] mschindler83 commented on #1
You're welcome :)
Feel free to open Issues if you find some more.

[2016-07-20 11:34] Michamicha opened #3 "Verarbeitung Login/Benutzername fehlerhaft"
Hallo,

wenn der Loginname/Benutzername eine Emailadresse ist, führt das "@" Zeichen darin zu einem Fehler. Es muss durch "?@" ersetzt werden, bevor die Message zum Bankserver geschickt wird.

Wirklich grossen Respekt, die Library ist eine ausserordentlich gute Leistung!

Vielen Dank!

Micha

[2016-07-22 18:40] MrCrankHank opened #4 "Transaction date is not retrieved correctly"
Hello everybody!

My code so far:
[code]

Output:
[code]

The problem:
The date value of the transaction always equals the supplied $from date.

 I'm not sure if this is a problem with my code or the library. I tried it with the german bank ING-Diba.

How can I get the "real" transaction date?

Thank you for reading this far!

[2016-07-28 07:57] mschindler83 commented on #3
Hi @Michamicha
Tanks for reporting. I will have a look at it as soon as possible.

[2016-08-19 07:01] mschindler83 commented on #3
@Michamicha Would be nice if you could check if this commit fixes now the issue. Thanks a lot!

[2016-08-19 07:21] mschindler83 commented on #4
Hi @MrCrankHank

Thanks for reporting!
And sorry for the late response.

At the moment the transaction date is always the booking date of the transaction and not the valuta date.
This means that the transaction date is always the date of the statement of account.

`2016-01-01: Start Saldo: 0`

`Date        : 2016-01-01`

Did you expect something else?
Then let me know. Maybe we can improve here so

[2016-08-19 08:14] Michamicha commented on #3
working fine! (tested with emailaddress as loginname)

[2016-08-19 09:48] MrCrankHank commented on #4
H markus!

No worries :)

Actually i expected it would output the valuta date of the specific transaction.

Is there a way to get it?

In my application the user imports the data from the bank and is then able to map it to invoices. The first import is usually over a long range (like from 2016-01-01 to today). It's difficult to find the right transaction for the right invoice, if the date isn't sp

[2016-08-19 10:31] MrCrankHank commented on #4
This is the data i would expect (according to the web interface of the ING-Diba)

Output:
[code]

It just testet it with my other account (Deutsche Kredit Bank, DKB). The dates are closer to the data in the webinterface, but for some odd reason not identical. I can provide further information in a few hours, when I get home.

[2016-08-19 19:28] MrCrankHank commented on #4
I think this should solve it:
https://github.com/mschindler83/fints-hbci-php/pull/5

[2016-08-19 20:17] mschindler83 commented on #3
Perfect. Thanks a lot.

[2016-08-19 20:17] #3 closed

[2016-08-22 11:14] #4 closed

[2016-08-25 10:23] Chiller999 opened #8 "Direct debit (via SEPA XML) and key chain (as TAN)"
Hello,
thanks for this great work!

Will it be possible to send direct debit (Lastschriften, ggf. via SEPA XML) and confirm this via key chain file (without classic TAN procedure)?

It would help a lot clubs and small business. Thanks.

[2016-09-05 13:41] mschindler83 commented on #8
Hi @Chiller999
Thanks for the compliment!

This would be a great feature. I would love to implement this.
But it is not easy and will take a decent amount of time to implement.

I hope I will have time for it in the near future.

[2016-09-08 19:00] larsgrau opened #12 "Can't connect to Deutsche Bank"
Great gist!

I believe my problem is related to my particular bank. I know that the URL is
https://fints.deutsche-bank.de and the username is made up of 3 components: the 3-digit subsidiary id ("Filialnummer"), the 7-digit account number and the 2-digit subaccount number.
However, I can't establish a connection.

Using your sample code here's what I get:

`Fatal error: Uncaught exception 'Fhp\Adap

[2016-09-08 19:47] larsgrau commented on #12
Ay, got it, never mind

[2016-09-08 19:47] #12 closed

[2016-09-11 19:27] clorch opened #15 "Parsing of the transaction description (SVZW, and other fields)"
First of all: thank you for this great project, I have been looking for something like this for several years!

With my bank the description field of (some) transactions look like this:
`EREF+...MREF+...CRED+...SVWZ+...`

I would like to parse this data to extract the actual "Verwendungszweck" (after `SVZW+`) and the other fields. Since your MT940 parser merges fields 20 to 29 without any separato

[2016-09-13 08:38] dsentker commented on #12
I am facing the same problem. Do you have a solution?
I've written a custom CURL adapter (which sets CURLOPT_SSL_VERIFYHOST to 0), but i am sure there is a better solution.

[2016-09-13 10:38] Michamicha opened #16 "Transactiondate wrong if valuta does not meet statement date."
Hi,

currently the parser does not parse the transactiondate from rawData which leads to wrong Transactiondates, if valutadate is different from the date of the Statement.

lib/Fhp/Response/GetStatementOfAccount.php  (Line 70)

This simply sets the date to the same date as the statement, which could be terribly wrong.

Example from rawData:
Statement:
:60F:C**160808**

Transaction:
:61:**160809**0

[2016-09-13 11:07] mschindler83 commented on #16
Hi @Michamicha

As far as I know, we do parse the transaction date (booking date).
See https://github.com/mschindler83/fints-hbci-php/blob/master/lib/Fhp/Parser/MT940.php#L125-L136

For the booking date, we only take the statement date if there is no other information inside the raw data. Because it also can be that the raw data looks like this (without booking date information):

`:61:160809CR000

[2016-09-13 11:19] Michamicha commented on #16
But you already have it in code (just remarked out)

I made an adjustment that is working fine:

In lib/Fhp/parser/MT940.php change line 95 from
` //$transactionDate = $this->getDate(substr($transaction, 0, 6));`
to
` $transactionDate = $this->getDate(substr($transaction, 0, 6));`

In lib/Fhp/parser/MT940.php chenge line 119 from
` }`
to
[code]
In lib/Fhp/Response/GetStatementOfAccount.php  replac

[2016-09-13 11:34] Michamicha commented on #16
Argh, I did not recognized the new version...
closed

[2016-09-13 11:34] #16 closed

[2016-09-16 20:41] thielecke opened #18 "$soa->getStatements() - Fatal error"
While working with the samples I got in the statements_of_accounts.php this error:

Fatal error: Call to a member function getStatements() on null in C:\xampp\htdocs\test\vendor\mschindler83\fints-hbci-php\Samples\statement_of_account.php on line 40

40: foreach ($soa->getStatements() as $statement) {

[2016-09-17 19:15] mschindler83 commented on #18
Hi @thielecke,
Thanks for reporting this issue.
Maybe it is possibe for you to give a more detailed issue description.

This error you mentioned can have millions of reasons ;)

[2016-09-22 10:13] BenjaminRehn commented on #18
i have that also,
getStatementOfAccount return null because
  /**
     * @return array
     * @throws MT940Exception
     */
    protected function parseToArray()
    {
        $result = array();
        $days = explode("\r\n-", $this->rawData);

there is no \r\n- to explode in the RAW data ....

that's by now what i can see / know...

[2016-09-29 15:17] larsgrau opened #21 "Uncaught Exception: Could not determine system id"
I'm trying to connect to Deutsche Kreditbank Berlin (DKB) AG which is stated as compatible in your [compatibility.md](https://github.com/mschindler83/fints-hbci-php/blob/master/COMPATIBILITY.md)

According to [DKB website](https://www.dkb.de/DkbTransactionBanking/content/security/UserInfo/UserIdInfo.xhtml) the host address is `banking-dkb.s-fints-pt-dkb.de/fints30` (Port 443).

As far as I underst

[2016-09-29 15:50] larsgrau commented on #21
Update –  I believe this relates to DKB-specific parameters / login parameters

`Fatal error: Uncaught Fhp\Adapter\Exception\CurlException: Failed connection to banking-dkb.s-fints-pt-dkb.de/fints30 in /.../vendor/mschindler83/fints-hbci-php/lib/Fhp/Adapter/Curl.php:80 Stack trace: #0 /.../vendor/mschindler83/fints-hbci-php/lib/Fhp/Connection.php(36): Fhp\Adapter\Curl->send(Object(Fhp\Message\Mess

[2016-09-30 14:19] MrCrankHank commented on #21
Hm, are you sure, the server you're on has internet access?

Further please try it with **https://**banking-dkb.s-fints-pt-dkb.de/fints30

I tested the library with the DKB and didn't encounter any issues.

[2016-10-05 19:14] KSas commented on #18
@mschindler83

Habe das gleiche Problem, es scheint bei der Volksbank ein anderes Dateiformat zu geben.

Nachfolgend Sparkasse, wo Umsätze angezeigt werden können:
`:61:1610041004CR0,01N062NONREF
:86:166?00GUTSCHRIFT?109251?20EREF+YYR453PPWT45SJN2 PP.54?2167.PP
 PAYPAL?22SVWZ+PP.5467.PP YYR453PPWT4?235SJN2?30DEUTDEFFXXX?31DE8
8500700100XXXXXX303?32PayPal Europe S.a.r.l. et C?33ie S.C.A`

und Volks

[2016-10-06 16:40] larsgrau commented on #21
Thanks for your feedback - I use exactly the URL (incl. https), and I am sure I have a working internet connection. Although I haven't got it working yet, I'll close the issue because I believe the connection error is not related to this library.

[2016-10-06 16:40] #21 closed

[2016-10-06 22:07] larsgrau commented on #15
I have a similar "issue" - or better: feature request. I believe this occurs with some financial institutes only. I am testing with Deutsche Bank and almost each of the transaction descriptions looks like @clorch stated above:

`EREF+...MREF+...CRED+...SVWZ+...ABWA...`

The descriptions are even truncated as they are too long when concatenated. As far as I understand the MT940/942 format, these ar

[2016-10-11 07:22] Soenke83 opened #23 "Missing entries in StatementOfAccount"
These lines
            // remove not so important data
            array_shift($day);
            array_shift($day);
            array_shift($day);
            array_shift($day);
in Fhp/Parser/MT940.php can cause missing entries in StatementOfAccount.

Here a var_dump of $day before the array_shift:
array(102) {
  [0]=>
  string(90) "La?23uf?30DORTDE33XXX?31[...]?32[...]"
  [1]=>
  string(25) "61

[2016-10-18 19:32] kersten opened #24 "Undefined offset in GetSaldo.php line 49"
Hi,

many thanks for your great work. I have a problem receiving the saldo of a business account.

The problem seems to be an extra field in the response fields. Here is an example of what I receive:

Private Account:
`HISAL:5:5:3+111111111::280:25050180+GiroBest+EUR+C:9999,99:EUR:20161018+C:0,:EUR:20161018+0,:EUR+9999,99,:EUR`

Business Account:
`HISAL:5:5:3+111111111::280:25050180+GiroBusiness?+

[2016-10-19 04:09] kersten commented on #24
Ah now I see it myself. I will check this and try to fix it.

[2016-10-25 19:52] UlliBS commented on #18
I can confirm that with VOLKSBANK the package is not working; the parser fails. However, after the following changes in \lib\Fhp\Parser\MT940.php  it works:

line 57
OLD: $days = explode("\r\n-", $this->rawData);
NEW: $days = explode("@@-", $this->rawData);

line 59
OLD: $day = explode("\r\n:", $day);
NEW: $day = explode("@@:", $day);

I apologize that I don't know how to bring above into a pull-r

[2016-11-13 19:46] Philipp91 commented on #15
I have some code for this that also preserves spaces at the end of lines (those are usually trimmed off, but you can re-insert them in most cases because the lines have a fixed length of 27+3 characters).
https://github.com/mschindler83/fints-hbci-php/pull/27

The open problem that the code relies on detecting the + character only could be resolved by incorporating @larsgrau's keyword-list and reg

[2016-11-24 18:08] michabbb commented on #12
@larsgrau can you please tell us, what was the problem and how do you solved it? Thanks!

[2016-12-01 21:29] mcprotector opened #29 "Error with 60M: instead 60F:"
When 60M instead 60M in start balance string, error "unknown index 'start_balance'". And as result booking date of transaction is showing as actual date.

To correct the error string
`} elseif (0 === strpos($day[$i], '60F:')) {`
must be replaced with
`} elseif (0 === strpos($day[$i], '60F:')||0 === strpos($day[$i], '60M:')) {`

[2016-12-01 21:37] mcprotector opened #30 "When customer have more than one account in the bank, data from first account is rewriting with data from second"
When customer have more than one account in the bank and construction for getting accounts information is
`$accounts = $fints->getSEPAAccounts();`
`foreach ($accounts as $account) {`
then data from first account is rewriting with data from second.

Issue is in a string (lib/Fhp/FinTS.php)
`$masterArray += $r->getStatementOfAccountArray();`
For correct work must be
`$masterArray = array_merge($mast

[2016-12-03 15:39] MrCrankHank commented on #30
Could you submit a pull request for codes changes?

[2016-12-03 15:46] mcprotector commented on #30
MrCrankHank, I don't known how to do it. +) Can you help me?

[2016-12-03 15:47] MrCrankHank commented on #30
There is a lot of documentation out there, e.g.:

[https://gist.github.com/Chaser324/ce0505fbed06b947d962](url)

[2017-01-06 23:10] inbaz commented on #8
Hi @mschindler83,

happy new year 2017!

I need to follow the words from @Chiller999: great work! I would also like to see the possibility to do SEPA-XML direct debits in this code. If you would like to share your information sources on how this functionality can be achieved. I would like to help you with the coding and testing.

Cheers
Andi

[2017-01-06 23:32] inbaz commented on #8
Hi again, I just had a quick look and it looks like only the HKDSE segment is missing. I found all other segments which are used in the FinTS tool I'm using right now. The HKDSE segment in my example only puts some easy readable stuff together:
- iban
- bic
- account number
- country code
- blz
- pain xsd version
- the content of the sepa-xml

Maybe there are some bummers in between but it looks n

[2017-01-10 08:50] mschindler83 commented on #30
Hi @mcprotector,

I don't get the problem here.
What has traversing over the accounts to do with fetching the bank statements?
Nethertheless when calling getStatementOfAccount() the $masterArray will get newly initiated on each call to this method. So it can not mix up with data from another account.

Maybe you can again explain in greater detail what the issue exactly is? Would be very good!

But

[2017-01-10 09:09] #29 closed

[2017-01-10 09:54] mcprotector commented on #30
Hello, Markus!

Maybe the problem is not because we have two accounts in one Bank. This relation i can't to confirm.
But this
`$masterArray += $r->getStatementOfAccountArray();`
rewrite masterArray elements by keys.
If i get in the first step
`$r->getStatementOfAccountArray();`
as
`array(0 => 0, 1 => 1, 2 => 2)`,
and in the second step as
`array(0 => 10, 1 => 11)`,
in result i get
`array(0 => 10,

[2017-01-10 10:10] mschindler83 commented on #30
Okay thanks. Now I understand :)

[2017-01-10 10:15] mschindler83 commented on #30
PR #33 is mergend with master

[2017-01-10 12:56] #24 closed

[2017-01-10 13:14] pvonauf commented on #23
Hi,
this might be an even bigger issue. I have noticed (in my case) that a line beginning with "86:" goes over two arrays. The SVWZ then goes over the last entry of the first array and the first entry of the next array. The second array also includes further transactions. The result is, that certain transactions have incomplete descriptions and as already stated by Soenke83, some transactions are

[2017-01-10 16:44] mcprotector commented on #30
I have found one more problem. +)
Transactions of a day may be splited to pages. Every page is as new array with dates as keys  (e.g. 2017-01-10). When used += or array_merge, same day is replaced with new day array. New correct code is
[code]

[2017-01-10 17:43] ekarakashi commented on #30
NOT OK

On Tue, Jan 10, 2017 at 6:42 PM, Markus Schindler <notifications@github.com>
wrote:

[2017-01-10 18:52] mcprotector commented on #30
I was trying to use array_merge_recursive. No result.

[2017-01-11 09:28] mschindler83 commented on #30
I see. Yes, array_merge_recursive will not help here.
I've a solution. I will create a PR for this.
@mcprotector maybe you can then test again with the new PR and tell me if it works.

[2017-01-11 09:42] mschindler83 commented on #30
@mcprotector
Can you please check if it works with this [branch](/mschindler83/fints-hbci-php/tree/bugfix/statement-parsing)?

[2017-01-11 09:58] mcprotector commented on #30
I'll try to check as soon as the time. Some files in my copy of fints-hbci-php is changed for getting additional data (not errors or troubles). I must replace my copy with your new commit. It takes time. +))

[2017-01-11 12:39] #18 closed

[2017-01-12 21:37] #23 closed

[2017-01-12 21:39] mschindler83 commented on #30
I'm pretty sure that the PR fixed the issue.
Closing.

[2017-01-12 21:39] #30 closed

[2017-01-14 06:03] pvonauf commented on #23
Hey, thanks for the fix! I still however have an issue with two arrays being created accross one single transaction. This leads to an incomplete description1.
Now I found a way to solve this by replacing following line in line 59 of MT940.php

Original line:
`        $days = explode($divider . '-', $this->rawData);`

New line:
`        $days=preg_split('/([\r\n][-][\r\n]|[\r\n][-][+])/', $this->ra

[2017-01-25 13:15] bell430 opened #40 "Parsing of the transaction description: Missing information"
Hi @mschindler83,

first of all: Great work! I really love this tool.

I used it with comdirect bank and found an issue with the MT940-parser. I some cases, the reponse contains a divider-string within the description section, although it is still the same transaction. As a result there are parts of the name and/or description missing. Here an example:

RAW-Response (divided and personal informati

[2017-01-25 14:11] bell430 opened #41 "Missing 2. Login ("Kunden-ID")"
A lot of banks use not only a login (="Benutzerkennung") + PIN, but have a kind of second loginname (="Kunden-ID"). One example is akf24-bank.

[Here is a list of banks](http://www.alf-banco.de/faq/konto-einrichtung/zugangsdaten-fur-hbci-pintan/#akf-Bank)

Could this be implemented? If not - could you give a hint where this should be done?

Thanks and best regards!

[2017-02-03 15:58] pvonauf commented on #40
Hi,

I referred to this issue in issue #23 .
As I am not a php expert either, I think there is a better solution to this than mine. I got it to work in the meantime (not sure if it always works).

 Now I found a way to solve this by replacing following line in line 59 of MT940.php

Original line:
 $days = explode($divider . '-', $this->rawData);

New line:
 $days=preg_split('/([\r\n][-][\r\n]|[\r\

[2017-02-15 11:40] andreasschroth opened #43 "composer.json still contains old version (1.0.3)"
First of all: Thank you very much for the great work, we're using it and it's very useful to us.

Unfortunately, we cannot update the version of this package via composer as the composer.json still says it's 1.0.3 instead of 1.0.4 (which is already tagged in Github).

See also hier: https://packagist.org/packages/mschindler83/fints-hbci-php

[2017-02-15 13:48] #43 closed

[2017-03-01 22:57] danielsippel opened #44 "netbank AG not working - Uncaught Fhp\Dialog\Exception\FailedRequestException: Request Failed: Unknown error"
`PHP Fatal error:  Uncaught Fhp\Dialog\Exception\FailedRequestException: Request Failed: Unknown error in /Users/dsippel/code/fints-hbci-php/lib/Fhp/Dialog/Dialog.php:129
Stack trace:
#0 /Users/dsippel/code/fints-hbci-php/lib/Fhp/FinTs.php(135): Fhp\Dialog\Dialog->sendMessage(Object(Fhp\Message\Message))
#1 /Users/dsippel/code/fints-hbci-php/Samples/statement_of_account.php(28): Fhp\FinTs->getSEPA

[2017-03-21 09:15] mschindler83 commented on #41
Hi. Sorry for the late response. I really have some timing issues atm :)
If someone wants to do this:

The "Kunden-ID" should be set in the Segment HKIDN instead of the username.
I would call this field $clientId in the code and the $clientId should be optional.
If $clientId is NULL, then use the username, else use the $clientId.

Hope someone feels like, he want to implement this. Else I will do

[2017-03-21 14:15] bell430 commented on #41
Just to avoid misunderstandings: Client-ID and Username is needed at the same time. It's not either/or. For akf24: If one of the fields is omitted, access fails. I have no clue why two different fields are necessary, but that's the way the bank wants to have it.

Unfortunately I don't think I'm able to implement this, but I will for sure help to test the new code. Just contact me and I will react

[2017-03-27 16:02] thielecke opened #47 "SSL certificate error"
My connection to the servers of GLS Bank and Berliner Sparkasse was working, but since a few days I m getting this errors:

An uncaught Exception was encountered
Type: Fhp\Adapter\Exception\CurlException
Message: Failed connection to https://hbci11.fiducia.de/cgi-bin/hbciservlet: SSL certificate problem: unable to get local issuer certificate
Filename: [..]\vendor\mschindler83\fints-hbci-php\lib\F

[2017-03-27 16:31] mschindler83 commented on #47
Hi. This doesn't look like a problem with the library.
Please check for example stack overflow or google for the two error messages:

 - SSL certificate problem: unable to get local issuer certificate
 - SSL certificate problem: self signed certificate in certificate chain

Maybe you have updated your system in the last few days?!

Cheers,
Markus

[2017-04-11 22:18] Philipp91 commented on #47
Is there a virus scanner on your system that intercepts HTTPS traffic? https://zakird.com/papers/https_interception.pdf

[2017-04-11 22:20] Philipp91 commented on #40
This can potentially be solved by the structured description. I added code to actually expose it here: https://github.com/mschindler83/fints-hbci-php/pull/48

[2017-04-17 14:20] mschindler83 commented on #8
Hi @inbaz
Thanks for evaluating!
I will give it a try as soon as I have some time.
This would be a really great feature and should be implemented quite quickly.

But I see here two features. The second one - namely the key file to avoid TAN - is another story...

[2017-04-17 14:22] mschindler83 commented on #47
Closing as it is not related to the project.

[2017-04-17 14:22] #47 closed

[2017-04-17 17:53] inbaz commented on #8
Hi,

thanks for your answer. You're absolutely right. The first thing to do is to get this feature work with a PIN/TAN procedure, but there is already:
* iTan
* mTan
* sm@rt-Tan
* and surely some more
At the moment I don't know if this will make any difference or if the tan procedure needs to be requested within the dialogue.

I think if at least two of the above methods are working it should be p

[2017-04-19 16:36] embeddedprojects opened #51 "Deutsche Bank: Could not determine system id."
Any idea?

I used these here:

define('FHP_BANK_URL', 'https://fints.deutsche-bank.de');
define('FHP_BANK_PORT', 443);
define('FHP_BANK_CODE', '72070001');

[2017-04-24 10:14] 1manfactory opened #54 "danke"
wollte mich nur bedanken.
Postbank funktioniert.

[2017-04-24 10:39] 1manfactory opened #55 "how to detect uniqueness"
Hello
the passed statement information do not include any unique identifier.
I want to store the information in an MySQL table. But how can I make sure not to store the same statement over and over again when calling the HBCI server?
Right now only the date offers a bit of uniqueness. But unfortunately the time is not given.
Juergen

[2017-04-24 11:52] Philipp91 commented on #55
I `json_encode` and then take a MD5 hash. You might find that your bank changes certain fields later on (for example, when a credit card transaction is finalized, the vendor name or other fields may be truncated or capitalization changes). In that case, you would have to exclude those fields before taking the hash.

[2017-04-24 14:51] 1manfactory commented on #55
Thanks.
I think this offers a good way of handling it,
http://stackoverflow.com/questions/40128139/generate-a-unique-key-for-banking-transactions

[2017-04-26 13:31] #15 closed

[2017-04-26 13:33] #55 closed

[2017-04-26 13:34] mschindler83 commented on #54
Bitte, gerne geschehen ;)
Viel Spaß weiterhin mit der Library!

[2017-04-26 13:34] #54 closed

[2017-04-27 19:24] RiRe opened #56 "Usage of keys"
It would be nice if public/private keys are useable with this library. Some banks (like Commerzbank) require them.

[2017-05-01 16:19] nemiah commented on #8
Hi guys,

I found this great project this morning and I've already added it to my own software :)

Do you need help implementing direct debit functionality?

Because if direct debit with mTAN would work, I could finally automate billing :)

Best wishes,
Nena

[2017-05-03 18:39] mgrundkoetter commented on #40
The Problem is, that there may be lines starting with "-", so the line
`$days = explode($divider . '-', $this->rawData);` will cut the rest apart. I have a workaround for this: `$days = preg_split('%^-$%', $this->rawData);`, for which I will create a PR.

[2017-05-05 14:17] nemiah commented on #8
Hi again,

I looked into it and I thought it would be good for testing purposes to implement SEPA transfer first. Also I suppose transfer and direct debit are quite equal.

[This](https://www.hbci-zka.de/dokumente/spezifikation_deutsch/fintsv3/FinTS_3.0_Messages_Geschaeftsvorfaelle_2015-08-07_final_version.pdf) nice document states we need to implement HKCCS for that.

As far as I understand it, H

[2017-05-05 21:23] inbaz commented on #8
Hi Nena,

I would really enjoy to see if you're able to implement a basic SEPA functionality to this module. If you need somebody to do some testing when there is progress, just give me a ping.

Cheers
Andi

[2017-05-08 09:56] nemiah commented on #8
Hi there,

ok, it took quite a bit of research, but my [branch](https://github.com/nemiah/fints-hbci-php) can now request and delete a standing order including transmitting the mTAN.

I know, that's still no transfer, but the TAN process should be the same :smile:.

I'd love to get feedback if it works with your bank.

Best wishes
Nena

[2017-05-08 15:43] nemiah commented on #8
Ok, SEPA transfer now working for me in my [branch](https://github.com/nemiah/fints-hbci-php) :grin:

I'll do direct debit tomorrow.

Best wishes
Nena

[2017-05-09 20:53] nemiah commented on #8
@inbaz Direct debit is working now in my [branch](https://github.com/nemiah/fints-hbci-php)! I had to do it with another bank and they used another TAN mechanism. So it took a bit longer to figure out how it works. :grinning:

@mschindler83 We can merge the code, if you want to. Just to keep working on the same code...

Best wishes
Nena

[2017-05-20 15:11] nemiah commented on #8
Hi guys,

I also wrote an Android app to deliver incoming SMS to an URL: [sms2url](https://play.google.com/store/apps/details?id=it.furtmeier.sms2url)

Automatic billing is near :smile:

Best wishes
Nena

[2017-05-31 15:53] wrufeger commented on #51
probably the wrong username, you have to combine the 3-digit branch number, your 7-digit account number and a 2-digit sub-account number:

define('FHP_ONLINE_BANKING_USERNAME', 123123456700 ');

[2017-06-13 17:53] Chiller999 commented on #8
@nemiah Very great work! sms2url is also a good idea for automatic billing ;)

But it would be "Non plus ultra" when it would be possible to generate/use simple key chain file for automatic transfer. Are there any ideas about this feature?

[2017-06-13 19:47] nemiah commented on #8
@Chiller999 The problem is, that I have no account with a keyfile. That means even if I started implementing it, I couldn't test it. And sadly that makes it quite impossible...

[2017-08-05 11:49] TenMediaBln opened #65 "Commerzbank Compatibility"
Hi!

First, thank you for providing such a great package! It looks stable and solid.

Second, how did Commerzbank make it one the compatibility list? It seems they don't support any access with Pin/Tan and they don't provide any Pin/Tan-Url @ https://www.hbci-zka.de/institute/institut_auswahl.htm. Do I miss something here or is Commerzbank not accessible?

I tried accessing Commerzbank anyway usin

[2017-08-07 09:11] henobi opened #67 "Transaction id"
Thank you for this awesome library!

I was wondering if there is a unique key or something to identify a transaction?

Background: I would like to write all transactions of a bank account into a mysql database and I want to check, if a transaction already exists in the database. The best solution would be, if each transaction has something like an ID so I could check if this ID already exists in m

[2017-08-07 18:19] Philipp91 commented on #67
Unfortunately, as far as I know, there's not. I've been missing this for years in HBCI/FinTS and other banking APIs, as well. You can hash the contents (possibly json_encode before).

If the bank returns transactions before they're actually booked (I'm not sure if fints-hbci-php even allows fetching those?), minor details like capitalization or spacing might still change when it's eventually booke

[2017-08-07 21:42] henobi commented on #67
All right. So then I will implement a transaction-hash. Thank you for your explanations!

[2017-08-07 21:42] #67 closed

[2017-08-09 11:56] chrisribal commented on #41
Hi,
is there any progress on this?
I'm trying to get data from the "Volksbank Wolfenbüttel" and it seems they also need the second login.

@bell430 have you found a solution for this?

[2017-08-10 11:35] bell430 commented on #41
Sorry - haven't found a solution. But I will still support if testing is needed.

[2017-08-10 12:23] chrisribal commented on #41
Found the solution in my case. It had nothing to do with second login, but with no available TAN mechanisms. I will open a new issue for that.

[2017-08-10 12:31] chrisribal opened #71 "No available TAN mechanisms leads to error"
In my case, the bank account at the Volksbank Wolfenbüttel had no active TAN mechanisms due to security reasons, which leads to an error in the INIT Message saying the message is missing one of the mandatory fields.

I found the error to be in building the message:

    if (isset($options[static::OPT_PINTAN_MECH])) {
        if (!in_array('999', $this->options[static::OPT_PINTAN_MECH])) {

[2017-08-14 23:12] Houbsi opened #74 "Only getting limited Number of Statements"
Hi,
it could be that the bank is not providing more statements over the FINTS/HBCI link. But i can't find any information anywhere about this "limitation".

BBBank (VR-Bank Verbund) gives only 60 statements?? Is there any more information about this kind of limitations??

[2017-08-17 09:03] mschindler83 commented on #71
Thanks for your PR. Its merged in master.

[2017-08-17 09:03] #71 closed

[2017-08-17 09:06] mschindler83 commented on #74
Hi @Houbsi ,
As far as I know the limitation is mostly a time limit.
So I think the most common restriction of banks is to deliver back transactions from the last 3 months.

Someone correct my, if I'm wrong :)

[2017-09-15 06:14] danielpieper commented on #44
I had the same problem and solved it by passing the bank routing code as string.

[2017-09-28 07:00] csskoeln opened #78 "Install with no Composer?"
Hello,

how can I use the FinTS HBCI PHP without composer?

[2017-09-29 07:19] dennisoehme commented on #8
@nemiah Do you have any plans to push your improvements back to this main project?

[2017-09-29 09:20] nemiah commented on #8
@dennisoehme yes, I had. But mschindler83 did not react to my request, so I made a lot of changes in the mean time and I've given up on that plan :(

Best wishes,
Nena

[2017-09-29 09:31] dennisoehme commented on #8
@nemiah Okay, that are bad news. I created this PR #77, but had no reactions from @mschindler83, too.

The changes in my PR are on the same code lines like changes you're already done [1] in your code, but you're handling "Stornos" (cancellation) on a different (I think in a better) way. ;-)

So, maybe I'll switching to your fork. Do you any plans to integration travis again?

[1] https://github.c

[2017-09-29 09:47] nemiah commented on #8
@dennisoehme Yes, I've seen your PR and thought about your approach. I decided against handling "Storno" differently because it doesn't matter in my use case and if it is important to someone in the future, it's changed easily.

You mean "https://travis-ci.org"? I didn't realize, I removed it :laughing:
I have no plans adding something I don't miss, but you can have a shot at it, if you want to :s

[2017-09-29 10:46] mschindler83 commented on #8
Hi all,
Sorry for reacting so slowly but there is a lot of stuff going on in my "paid time ;)".

@nemiah If you want to get something here in the master branch, you have to create a PR for that.
Then we can decide if we want to take it into the library or not.

But to be honest, I like the feature you implemented but I do not like the way how you implemented it. Especially this "for loop" to get t

[2017-09-29 12:14] nemiah commented on #8
@mschindler83 yes, I didn't like the file version myself and changed it to a callback-version. It still requires the loop though. What way would you suggest to wait for the TAN?

I already use it in my own console and web application ([open3A](https://www.open3a.de)) and it works fine :)

When you didn't respond I decided to make more changes.
I assume it's quite complicated now to get my changes

[2017-09-29 13:04] mschindler83 commented on #8
@nemiah How can you ask the user in a web application for the TAN when the script blocks the whole application for 60 seconds? Do you start a separate PHP thread for this? I'm curious :)

**The better solution would be:**
You can have a open Dialog between different open tcp connections.

1. Start Dialog
2. Request TAN (remember dialog ID, last message number and order reference from HITAN)
3. Clo

[2017-09-29 13:20] nemiah commented on #8
@mschindler83 Yes, somehow I run a separate thread in the background and poll the user for the TAN. I actually can't remember the exact way I've done it because I built it a few years ago for AQBanking ;)

OK, I suspected that I can break the connection but I have no clue how the HBCI protocol works and didn't really want to dive too deep into the specs :grin:

Best wishes,
Nena

[2017-10-01 15:06] nemiah commented on #8
@mschindler83 OK, it works now without callback and with interrupted connection :)

Best wishes,
Nena

[2017-10-04 19:48] movabo commented on #78
I guess you need to install all dependencies on your own.
Here is how you can do that: https://stackoverflow.com/a/40545971
But i would recommend you just using composer. ;)

[2017-10-04 19:53] movabo commented on #74
In my case (also BBBank) i can just see the last 3 months.
This is pretty sure a restriction by the bank, as the online interface provided by the bank also doesn't show any more than the last three months. Even if i change the timespan accordingly.

[2017-10-05 06:42] csskoeln commented on #78
Hello,
thank you for the information.

Then I must probably still use the composer.

* Closed *

[2017-10-05 06:42] #78 closed

[2017-10-06 14:55] neuni commented on #65
Hi,

some branch banks of Commerzbank support FinTS, other not.
For example Commerzbank Gütersloh (BLZ 47840065) supports FinTS, but Commerzbank Hamburg not. Our contact at Commerzbank Hamburg did his best to activate FinTS for one of our clients account, but is was not possible.

[2017-10-08 10:06] framelabs commented on #44
Same Error here with Sparda Bank Munic

Fatal error: Uncaught Fhp\Dialog\Exception\FailedRequestException: Request Failed: Unknown error in C:\xampp\htdocs\banking\vendor\mschindler83\fints-hbci-php\lib\Fhp\Dialog\Dialog.php:129 Stack trace: #0 C:\xampp\htdocs\banking\vendor\mschindler83\fints-hbci-php\lib\Fhp\FinTs.php(135): Fhp\Dialog\Dialog->sendMessage(Object(Fhp\Message\Message)) #1 C:\xampp\

[2017-10-15 08:40] apeiniger opened #80 "Supporting depots"
Hi, are there any plans to add the ability to access depot data next to the normal accounts?

[2017-11-08 22:51] mansouryaacoubi commented on #65
Unfortunately it seems like no branch office of Commerzbank supports FinTS.
This is the answer I got from the Commerzbank tech support:

I asked whether it will be possible in future to use other safety methods like PIN/TAN and this is what they answered.

[2017-11-16 09:10] #74 closed

[2017-11-16 09:18] mschindler83 commented on #65
I don't think that they will implement this feature in the near future.
IMO they will wait until it is clear on how the PSD2 will affect the FinTS protocol.
It can (most likely) happen, that FinTS will die anyway in the next one or two year.

[2017-11-16 09:18] #65 closed

[2017-11-27 09:28] CodingTanna opened #85 "GLS getStatement -> Request Failed: Die Nachricht enthält Fehler"
Hi,
I tried to get the statement from a GLS Account, but it throws an exception(ING-Diba works fine). I like to fix it, but I have no idea, wheres the specification for the messages.

Listening on http://localhost:8082
Document root is /home/user/NetBeansProjects/bankcheck
Press Ctrl-C to quit.
[Mon Nov 27 10:17:31 2017] PHP Fatal error:  Uncaught Fhp\Dialog\Exception\FailedRequestException: **Req

[2017-11-27 21:32] andrenam opened #86 "ing-diba: wrong bookingDate year"
with INGDiba
this MT940 raw data gets parsed as
[code]

[code]

with  valuta date: 2017-11-27
and booking date: 2016-12-01

when instead the real booking date seems to be: 2017-12-01

Line 126 in MT940.php seems to be responsible:
https://github.com/mschindler83/fints-hbci-php/blob/master/lib/Fhp/Parser/MT940.php#L126

`substr($transaction, 2, 2)` and `substr($transaction, 6, 2)` evaluate to `11`

[2017-12-05 18:17] #86 closed

[2017-12-27 09:28] drstil opened #93 "Request Failed: Die Nachricht enthält Fehler. (TRE) 9050"
Thank you for creating this great project!

I'm using the current fints-hbci-php library and got an `Request Failed: Die Nachricht enthält Fehler. (TRE) 9050` error when my bank account has a lot of transactions by calling `getStatementOfAccount()`. This is because of touchdowns, which the result has. If I comment out line 179 in Fhp/FinTs.php, then the error is gone (= no touchdowns).  I have one

[2017-12-30 09:16] #85 closed

[2017-12-30 09:17] CodingTanna commented on #85
Duplicate of #93

[2018-01-25 06:37] RentMyNick opened #94 "request and parse camt in addition to mt940"
Hey there,

is a feature planned, to be able to parse camt Files instead of mt940 if the bank provides it?

Thanks

[2018-02-02 14:57] b3nelof0n opened #96 "Fetch Saldo from non SEPA Account"
Hi is it possible to fetch the Saldo from a Creditcard in my Bankaccount ? I use Postbank i get the Saldo from the Sepa Accounts but if i try on the "VISA Card Classic" i get an Errormessage "Fhp\FinTs::getSaldo() must be an instance of Fhp\Model\SEPAAccount"

thanks for help

[2018-02-15 12:27] Makku01 opened #98 "Parse MT940 loses data when new line ist between"
`166?00GUTSCHRIFT?109251?20SVWZ+Rechnung xxx?30DEUTDEDB276?3
1DE1127xxxxx40011xxxxxx?32Testfirma GmbH`

This is the description in the MT940 Class as it enters the function `protected function parseDescription($descr)`

As you see, after the BIC the code for accountnumber is splitted by a newline: `xxxx?3[new line]1`
So the parser can't parse the accountnumber and it's displayed as empty.

I've ad

[2018-02-25 18:34] Philipp91 commented on #98
I cannot reproduce your issue. So far, I haven't looked at your proposed fix, but I'm happy to do so once I understand the issue. Are you testing with the latest released version (1.0.4) or the code in the master branch?

I copied the current `parseDescription()` code from master to phpfiddle.org (here's a copy: https://gist.github.com/Philipp91/2acbff5835a0365b84dc26079d2d935e) and ran it with yo

[2018-03-13 06:20] MAP94 opened #101 "bookingDate is off by one year in some cases"
The bookingDate can be off by one year if the valuta date (month part) is earlier than the booking date.

The error is located in MT940.php:126
[code]

The relevant input data to reproduce the error looks like this.
[code]

The assumption that the valuta date cant be earlier than the booking date is wrong. (See comment above)
An easy way would be to calculate both dates (same year and previous yea

[2018-04-18 19:51] MaximilianKoestler opened #102 "Special Characters are not Invalidated Before Transmission"
My bank sometimes issues dialog ids starting with a `+` sign.

The dialog id in the bank's response then looks like this:

`HNHBK: ... +?+ABCDEFGHIJK ...` (Bank -> fints-hbci-php)

As you can see, the `+` is escaped (invalidated) with a prefix `?` in the message from the bank.
However, once this id gets used by fints-hbci-php in the next message, it is not properly escaped.

Therefore, two consecu

[2018-04-24 12:19] 749 opened #104 "Problem with Sparkasse Salem-Heiligenberg"
Hi
I am just testing out this library. It seems to be working with my personal account @Volksbank Überlingen. However the account of my Company @Sparkasse Salem-Heiligenberg won't work.
I have enabled debugging and the system seems to think the username or password is wrong.

But I have double and tripple check the password.
Also using the dev-master branch from github did not change the issue.

S

[2018-04-24 14:03] 749 commented on #104
We have changed the password to something that does not have Umlaut-Characters and it still does not work.
I have also asked the bank for support, but not received any answer so far.

[2018-04-28 21:00] pwaldhauer commented on #80
👍 @mschindler83 Any news on this?

[2018-04-28 21:01] pwaldhauer commented on #96
👍 @mschindler83 Any news on this?

[2018-05-18 10:24] nQk2 opened #105 "$transaction->getName() is null and $transaction->getDescription1() is cut off after 32 chars"
Hello,

In some cases $transaction->getName() is null and $transaction->getDescription1() is cut off after 32 characters. So far this is only the case if the description starts with "EREF+".

Bank: Berliner Sparkasse
Hibiscus/Jameica is displaying the name and full description.

Besides that, thank you for sharing the project.

David

[2018-05-22 14:52] Cooldancer2 opened #106 "Multiple accounts"
Hi,

I'm using this Library for the Volksbank Rostock. It works nice but it grabs only the data from the first account. Have multiple accounts on it. How can I get this data. Greets

[2018-05-22 17:49] Cooldancer2 commented on #106
Solved it :-)

Thx

[2018-05-22 17:49] #106 closed

[2018-06-01 12:12] 749 commented on #104
Resolved: The Password we wrote down had 6 letters but the website of the bank only accepts 5 letters. so obviously it could never be the correct password if we send it an additional character.

[2018-06-01 12:12] #104 closed

[2018-06-03 16:38] hmohring commented on #51
please also check, that you have activated HBCI+ for your account:

German Account:
Services >> Online SelfServices >> Sonstiges >> TelefonBanking PIN bestellen und HBCI+ Freischaltung

English Account:
Services >> Further Services >> Contact and Channels >> Order of TelefonBanking PIN or Activation of HBCI+

[2018-06-21 21:14] MarkusBauer commented on #105
Sounds like the same problem as #40. I guess you're using the release version (1.0.4)?

You can try out the current master branch, that fixed this issue for me.

[2018-06-25 10:18] dsentker commented on #40
The workaround from @mgrundkoetter has helped me, too. Thank you for that.
It seems that this fix is not part of v1.0.4. Is there a reason why the fix has not yet been adopted?

[2018-06-28 05:02] petafuel commented on #94
@mschindler83 can you tell me if there is a plan to implement this?

[2018-06-28 20:25] tobias-dietz opened #111 "cd mark not found in: 180518RD5,00NMSC1"
The issue occurs on a booking line which was created by my bank (Volksbank / Fiducia) for canceling an account fee for issuing a new debit card. Not sure what to do with "RD" marked lines - aren't they basically "credit" lines (R= reversed, D=debit)?

On line 100 in Fhp\Paraser\MT940 you extract the different marks but the if/elseif (101, 103) doesn't have a case for "RD" and "RC".

Spec: https://

[2018-07-05 19:52] dennobaby opened #112 "Nord/LB Hannover / BLSK not working, Response with status code 403"
Hi,

i tested the API with a Nord-LB/BLSK account.
I used the following FinTS-URL:
`https://banking-ni3.s-fints-pt-ni.de`

I don't know if this url is correct, as i have no access to the mentioned list (https://www.hbci-zka.de/institute/institut_auswahl.htm).

Here is the output:

[2018-07-17 09:59] roben opened #113 "Segment splitting incorrect"
According to https://www.hbci-zka.de/dokumente/spezifikation_deutsch/fintsv3/FinTS_3.0_Formals_2017-10-06_final_version.pdf (G. Data Dictionary -> Segmentkennung), the splitting in the constructor of `Response.php` needs to be something like this:

`$this->segments = preg_split("/'+(?=[A-Z0-9]{1,6}:\d{1,3}:\d{1,3}(:\d{1,3})?)/", $rawResponse);`

[2018-07-17 10:02] roben commented on #113
The old regexp splitted on two subsequent single quotes in transaction texts (`''`), which is definitely wrong.
Even better would be to filter out binary content (`@<length>@`), see documentation, which could still contain segment headers (i.e. `'A:1:2`) and break stuff.

[2018-07-23 13:16] tschelabaumann opened #114 "Outdated HBCI / FinTS Url"
Looks like the URL https://www.hbci-zka.de/institute/institut_auswahl.htm does not contain anymore the list of URLs

[2018-08-09 11:11] KQuiskamp commented on #114
To get access to the URLs you need to register at the website. The HBCI will log all accesses.

Original Text:
"Für alle Banking-Anwendungen, die über das FinTS-Protokoll auf Institute zugreifen wird ab sofort eine Registrierungsmöglichkeit zur Verfügung gestellt, um den Kunden der Banken und Sparkassen mehr Transparenz über deren FinTS-Zugriffe anbieten zu können.  "

[2018-08-18 13:10] simhnna commented on #114
So they say you need to register to get access to the list. Has anyone tried contacting them to see if we can get a list _without_ registration. It does mention it might be possible under (not defined) certain circumstances... Otherwise I guess we could start to compile our own list...

[2018-08-18 13:34] KQuiskamp commented on #114
You need a API-Key for all calls. Only a List with the Endpoint URLs are useless. Currently it work only with the URLs but in few Month they change her API.

[2018-10-14 15:49] Philipp91 commented on #105
@mschindler83 Hey. It would be great if we could get a 1.0.5 release with the many fixes that have since been merged. (Depending on the `dev-master` version for a long time is annoying as it results in Composer warnings and PhpStorm misconfigurations.) Let me know if I can help. Thanks!

[2018-10-20 02:25] dlepold commented on #67
I had the same question, and i couldn't find any _transactionId_, which to me is quite incomprehensible. So I came to the same conclusion to create a transaction-hash. Yet this solution has its flaws. It will produce identical hashes for identical transactions, that (just theoretically might occur), since the time stamp of the _bookedValue_ is not precise but a certain hour of the day, disregardin

[2018-11-05 14:14] KaiReichart commented on #114
I have found a file with HBCI URLs, I havent tested it yet but maybe this will help somebody:
[https://github.com/OpenBankProject/User-login/blob/master/src/main/resources/blz.properties](https://github.com/OpenBankProject/User-login/blob/master/src/main/resources/blz.properties)

[2018-11-05 17:37] KaiReichart commented on #114
[https://linuxwiki.de/OpenHBCI/GetesteteBanken](https://linuxwiki.de/OpenHBCI/GetesteteBanken)
Here another

[2018-11-20 10:03] ickbinhier commented on #112
try this url: https://banking-li1.s-fints-pt-li.de/fints30

[2018-11-20 10:44] dennobaby commented on #112
Nice! Thank you very much! May i ask where you found this url? Do you have access to the hbci-zka-list?

[2018-11-20 10:46] ickbinhier commented on #112
https://github.com/willuhn/hbci4java/blob/master/src/blz.properties

i have no access to the hbci-zka-list.

[2018-11-20 10:46] ickbinhier commented on #114
https://github.com/willuhn/hbci4java/blob/master/src/blz.properties

[2018-11-20 10:57] dennobaby commented on #112
Thank you very much!

[2018-11-20 10:57] #112 closed, assigned to nobody

[2018-11-25 03:08] mistervista commented on #114
Regarding the FAQ from https://www.hbci-zka.de/register/register_faq.htm
Original: "01.08.2019: 	Der Zugang ist nur noch mit registrierten Produkten möglich."
Which means (in my opinion), that after 1. August 2019, any further access to FinTS will be refused if the used software is not registered.

[2018-12-20 07:49] ortreum opened #122 "SSL certificate problem: unable to get local issuer certificate, must set CURLOPT_SSL_VERIFYPEER=0"
I can only connect with:

[code]

Without it I got this message:
[code]

You should add an SSLType parameter or set this line 0. Some might only allow connections via TLS 1.2.

Thx

[2018-12-20 13:00] AlexH-HankIT commented on #122
This library should promote security by design, therefor disabling the certification verification or even making it possible to disable it is a very bad idea imho.

Which OS do you run? Your problem is most likely related to a missing certificate store. I'm not sure why you mentioned TLS 1.2.

[2018-12-20 14:25] ortreum commented on #122
Ok you are right. Windows itself was the problem and still is. But on Linux it is working as it should.

SSL1 is not a good idea anymore imho too. See poodle and heart bleed attacks,

[2018-12-28 16:20] Jimmy-and-Jonny opened #123 "Transaction-ID missing"
I sometimes have transactions with the same date, amount and purpose in my bank account, so I need a unique transactionID to avoid duplicates! Is there such an ID?

[2019-01-03 12:33] ampaze commented on #123
The order per day is the implicit id. You have to generate a unique id yourself.

[2019-01-03 13:20] Jimmy-and-Jonny commented on #123
If there are two identical transfers on the same day, I can't generate a unique id from "order per day".

[2019-01-03 13:24] ampaze commented on #123
The transfers/statements are sent from the server in a certain order, and will always be in this same order for that day. So you have to use the position in the list and the date for your unique id.

[2019-01-03 13:36] Jimmy-and-Jonny commented on #123
Ok, thanks!

[2019-01-03 13:36] #123 closed, assigned to nobody

[2019-01-07 11:32] ampaze commented on #93
Having the same problem also with GLS. @drstil Did you ever fix this?

[2019-01-07 13:18] ampaze commented on #93
Found the problem, the touchdown identifier contains a "+" which needs to be escaped when used in a message send to the server.

In other words in the method `FinTs::getStatementOfAccount` replace the parameter `$touchdowns[HKKAZ::NAME]` for the `$this->createStateOfAccountMessage` call with
`$this->escapeString($touchdowns[HKKAZ::NAME])`

Done.

[2019-01-16 13:19] ampaze commented on #98
@Makku01 Could you try https://github.com/nemiah/phpFinTS? I just made some fixes concerning a similar problem.

[2019-01-16 13:23] ampaze commented on #94
@RentMyNick You can try https://github.com/nemiah/phpFinTS, where I recently implemented FinTs::getBankToCustomerAccountReportAsRawXML. The XML doesn't really need to be parsed, just grab the info you want from it with PHP.

Cheers.

[2019-01-16 13:34] Makku01 commented on #98
@Philipp91 Please try your GIST without the charcters for the new line as in:

`print_r(parseDescription("166?00GUTSCHRIFT?109251?20SVWZ+Rechnung xxx?30DEUTDEDB276?3 1DE1127xxxxx40011xxxxxx?32Testfirma GmbH"));`

As you'll see, the Account Number is empty.

PS: Sorry for the delayed reply!
@ampaze I'll try it soon, Thanks!

[2019-02-06 06:25] visioncode opened #124 "@@ in data fields"
What is the reason that I receive something like that as name by a transaction:

Wellfa@@irs GmbH
Martina @@Vermot-Petit-Outhenin
....

the same @@ occurs within the account_number and also in purpose, but it does not occur in each and every transaction.

i could cut off these both at-symbols, but I wonder where they come from?

[2019-02-06 07:30] BenjaminRehn commented on #124
As i know it's an CR LF.
https://studylib.net/doc/8074466/statement-data-format-mt940
https://www.kontopruef.de/mt940s.shtml

Field separators according to the S.W.I.F.T. User Handbook are mandatory:
• The usual field separator before each field number is <CR><LF> (ASCII X ́0D0A ́);
Remark:
For compatibility reasons to old BTX systems the C ́@@ ́ is also still supported.
• A message or a partial m

[2019-02-22 11:39] ampaze commented on #124
I fixed this in the fork https://github.com/nemiah/phpFinTS

[2019-02-25 14:43] timrasche commented on #113
Ty @roben ! Safed my day!

The owner of this lib is still offline? No answer after buy pro version! Frustrated...

[2019-06-10 20:04] philharmonie opened #128 "Script not giving any ouput"
I followed the readme, installed the script using composer, modified lines 13-17 like:

[code]

and ran the script. It loads very long and gave no output.
I'm running the script on my local host with active internet connection.

[2019-06-15 06:31] wolkenbauer opened #129 "FinTS registration data"
Beginning 2019-08-01 all finTS dialog init requests need to include fints registered product name and version as institutes will no longer accept connections from unregistered products or libs/kernels. See fints.org for more details.
This functionality is urgently needed.

[2019-06-24 09:47] js1963 commented on #129
and whats about 2-factor authentification

[2019-06-30 21:58] Philipp91 commented on #129
Feel free to test #129 like this:

[code]

Be sure to pass more parameters to `new FinTs()`. When I tested it, the bank connection when through as usual. I have no way of checking that the bank's backend was actually happy with the information it received.

[2019-06-30 22:31] Philipp91 commented on #129
When I registered to get my FinTS product registration number, the confirmation email came with this hint: "Ab dem 14.09.2019 stellen die Mehrzahl der Kreditinstitute neben der FinTS-Schnittstelle eine weitere Schnittstelle nach den Regularien der PSD2-Richtlinien bereit. Zahlungsauslösedienste und Kontoinformationsdienste bedürfen dann einer Zulassung der deutschen (BaFin) oder einer anderen euro

[2019-07-01 12:50] ampaze commented on #129
This repository has not seen activity in over a year from the maintainer. You should take a look at https://github.com/nemiah/phpFinTS

[2019-07-01 12:59] ekarakashi commented on #129
Did the protocol changed during this year?

On Mon, Jul 1, 2019, 14:50 ampaze <notifications@github.com> wrote:

[2019-07-01 13:02] ampaze commented on #129
It was just a hint, the pull request will most likely not be merged and therefore this lib will no longer work as is.

[2019-07-01 13:11] ekarakashi commented on #129
well, supposing is good but proving is the ultimate goal. Anyways the other
lib is just a fork of this one and I doubt anyone else has more
experieexperiencence than Markus in this area.

On Mon, Jul 1, 2019, 15:02 ampaze <notifications@github.com> wrote:

[2019-07-01 14:54] ampaze commented on #129
@ekarakashi How is this helping? It would be more helpful if you could get in touch with him about this. Thanks.

[2019-07-01 17:47] Philipp91 commented on #129
The nemiah fork has forked off quite a while ago, and from what I can tell it doesn't have some fixes that I need, like #100.

@mschindler83 After other people tested this, would you have the time to merge this and push a release?

[2019-07-02 07:54] ampaze commented on #129
It's totally fine if you want to stick with this repository or your own fork, never change a running system if you don't have to.

@nemiah usually responds to pull requests quite fast and there are already lots of fixed bugs and new functionality bundled in her fork that everyone can benefit from. Especially if one is just getting starting with FinTS.

[2019-07-05 16:57] wolkenbauer commented on #129
There are new important dates for this issue.

starting at **22.07.2019** institutes will begin sending WARNINGS at Dialog init:
  3078 -- Unregistriertes Banking Programm, nur zugelassen bis 13.09.2019
  3079 -- Bitte wenden Sie sich an den hersteller des Ihres Banking Programms.

starting at **14.09.2019** all dialog-inits without registration number will be aborted forcefully with errors:

   9

[2019-09-12 19:32] visioncode opened #131 "PSD2 / SCA"
"Die Nachricht enthält Fehler.+9075::Starke Kundenauthentifizierung notwendig.+9800::Dialog abgebrochen+9340::Auftrag abgelehnt.’HNSHA:4:2+9144772’’HNHBS:5:1+1"

@mschindler83 Hast du eine Idee wie man deine Library mit PSD2/SCA zum Laufen bekommt? Ist hier eine Anpassung deinerseits angedacht?

[2019-09-12 20:00] Philipp91 commented on #131
Die Party ist jetzt hier drüben: https://github.com/nemiah/phpFinTS/issues/20

[2019-10-06 15:43] Philipp91 opened #132 "DO NOT POST -- THIS REPOSITORY IS DEAD -- use @nemiah's fork instead"
The new PSD2 regulations changed how most banks do FinTS, which broke this library. Fixes are being developed here: https://github.com/nemiah/phpFinTS

[2019-10-20 11:08] fburian opened #134 "Seit PSD2 funktioniert die Bibliothek nicht mehr"
Hallo! Deine Bibliothek funktioniert seit der PSD2-Richtlinie nicht mehr. Kannst Du diese noch um die neue Authentifizierung ergänzen?

[2019-10-22 09:20] rautex commented on #134
die Lib wird soweit ich weiß nicht mehr supportet und es wird geraten zum Fork zu greifen
https://github.com/nemiah/phpFinTS den habe ich erfolgreich mit der Sparkasse um Einsatz.

[2020-08-06 11:04] valb3r opened #135 "HBCI testing Sandbox"
Hello all, seen:

I'm the contributor of OpenBankingGateway (https://github.com/adorsys/open-banking-gateway) and we have created HBCI/FinTS Sandbox - https://github.com/adorsys/open-banking-gateway/tree/develop/opba-protocols/sandboxes/hbci-sandbox that supports account listing, transaction listing, payments with SCA

If there is any interest in using our Sandbox in your tests I can explain detai

[2022-10-27 14:13] kosmonowt commented on #135
@valb3r do you still need Sandbox testers?

[2022-10-27 14:35] valb3r commented on #135
@kosmonowt Thanks, not really at this moment (we did own tests), but you can use our sandbox and report any issues you find to https://github.com/adorsys/open-banking-gateway